

#content{
    width: 100%;
    height: 30em;
}

.option{
    width: 4em;
    height: 4em;
    display: inline-block;
}

.category{
    background-color: firebrick;
}

.cost{
    background-color: green;
}

.distance{
    background-color: teal;
}