<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Roach Coach Roulette</title>
    <script src="https://kit.fontawesome.com/532d5492ff.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'roulette/styles.css' %}">

</head>


<body>
    <nav class="header">
        <div class="side_container">
            <img class="logo" src="{% static 'images/roach.png'%}" alt="logo">
            <h2>ROACH COACH ROULETTE</h2>
        </div>
        {% if 'user_id' not in request.session %}
        <a class="navbar-brand" href="/loginReg">Log In</a>
        {% else %}
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <a class="navbar-brand" class="navbar-brand" href="/reset">Log Out</a>
        {% endif %}
    </nav>

    <div class="container">
        <div class="top_section">
            <h4 class="phrase">Nacho mama's Yelp</h4>
        </div>
        <div class="mid_section">
            <div class="side_container">
                <form action="/optionsDisplay" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="choice" value="1" class="btn btn-secondary">Help me pick...</button>
                    <p>(I've got an idea but need help)</p>
                </form>
            </div>
            <div class="side_container">
                <form action="/roulette/2" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="choice" value="2" class="btn btn-secondary">Pick for me!</button>
                    <p>(I have no idea what to eat)</p>
                </form>
            </div>
        </div>
    </div>

</body>