<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Results</title>
    <script src="https://kit.fontawesome.com/532d5492ff.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'results_style.css' %}">

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar fixed-top navbar-dark bg-primary">
            <h2>ROACH COACH ROULETTE</h2>
            <div>
                <a class="navbar-brand" href="/resultsDisplay">Back</a>
                <a class="navbar-brand" href="/dashboard">Dashboard</a>
                <a class="navbar-brand" href="/loginReg">Log In</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="top_view">
            <h1>{{name}}</h1>
            <h4>{{desc}}</h4>
        </div>
        <div class="mid_section">
            <div class="side_container">
                <img class="food_image" src="{{image}}" alt="food image" class="img-thumbnail">
                <p>{{phone}}</p>
                {% for item in location %}
                <p>{{item}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="bottom">
            {% if 'user_id' not in request.session %}
            <p><a href="/loginReg">Save for later</a></p>
            {% else %}
                {% if result_choice == '1' %}
                    <p><a href="/save/1">Save for later</a></p>
                {% else %}
                    <p><a href="/save/2">Save for later</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>


</body>

</html>